.alerts{
    display: flex;
    background-color: white;
    width: 45%;
    flex-direction: column;
    padding: 25px;
    margin-right: 15px;
    margin-left: 15px;
    .table-row{
        display: flex;
        .table-data{
            display: flex;
            flex-direction: column;
        }
    }
    .alerts-header{
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        .alert-time{
            display: flex;
            color: #02874c;
        }
        .alerts-section{
            display: flex;
            justify-content: space-between;
            width: 315px;
            margin-bottom: 25px;
            .time-title{
                margin-right: 10px;
            }
        }
    }
    .alerts-column{
        margin-top: 80px;
        margin-left: 11px;
    }
    .alert-row{
        display: flex;
        justify-content: space-between;
        width: 530px;
    }   
        .exc-icon{
            display: flex;
            justify-content: center;
            margin-top: 3px;
        }
        .selector-container{
            display: flex;
            justify-content: space-between;
            margin-top: 35px;

            .items{
                display: flex
            }
                .selected-page{
                    color: #02874c;
                    margin-left: 7px;
                    margin-right: 7px;
                }
                .side-carrot{
                    cursor: pointer;
                    transform: rotate(-90deg);
                }
        }
}