.highlights{
    margin-left: 15px;
    background-color: white;
    margin-right: 15px;
    margin-top: 25px;
    padding: 25px;
    margin-bottom: 25px;    
    .highlights-header{
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        margin-bottom: 25px;
    }
    .row{
        display: flex;
        justify-content: space-between;
    }   
}   
