.widgets{
    border: 2px  #ababab;
    border-style: dashed;
    border-radius: 2%;
    width: 45%;
    margin-right: 15px;
    height: 335px;
    .widgets-column{
      margin-top: 130px;
    }
    .widgets-icons{
        width: 100px;
        display: flex;
        justify-content: space-between;
        margin: auto;
        margin-bottom: 15px
    }
    .button{
            border: 1px solid #02874c;
            color: #02874c;
            width: 95px;
            background-color: inherit;
            transition: 0.3s;
            font-weight: bold;
            border-radius: 1%;
            padding: 10px;
            margin: auto;
          &:hover {
            cursor: pointer;
            background: #02874c;
            color: white;
          }
    }
}